<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width= device-width, initial-scale=1.0">
        <title>Calendar</title>
        <link rel="stylesheet" href="/css/homeStyle.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    </head>
<body>
    <div class = "container">
        <div class= "calendar">
            <div class="month">
                <div onclick="prevFunc()">
                <i class="fas fa-angle-left prev"></i>
                </div>
                    <div class="date">
                        <h1><%-month%></h1>
                        <p>Fri May 29,2020</p>
                    </div>
                    <div onclick="nextFunc()">
                <i class="fas fa-angle-right next"></i>
                    </div>
            </div>
            <div class = "weekdays">  
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div class = "days">
                <% for (var i =firstDayIndex; i>0 ;  i-- ) { %>
                    <div class="prev-date"><%-prevLastDay-i + 1%></div>
                <% } %>
                <% for (var i =1; i <=lastDay;  i++ ) { %>
                        <%if(i === new Date().getDate() && date.getMonth() === new Date().getMonth()){%> 
                            <div class="today"><%-i%></div>
                        <% } else %>
                            <div><%-i%></div> 
                <% } %>
                <% for (var i =1; i <=7-lastDayIndex - 1;  i++ ) { %>
                    <div class="next-date"><%-i%></div>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        function nextFunc()
        {
            window.location.href = "./home?currMonth="+"<%-month%>"+"&side=1"
        }
        function prevFunc()
        {
            window.location.href = "./home?currMonth="+"<%-month%>"+"&side=0"
        }
    </script>
</body>
</html>
